<div class="container w-xl w-auto-xs" ng-controller="ForgotPwdFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Input your user ID & email to reset your password</strong>
    </div>
    <form name="reset" ng-init="isCollapsed=true">
      <div class="text-danger wrapper text-center" ng-show="authError">
        {{authError.non_field_errors[0]}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="User ID" ng-model="username" class="form-control no-border" required>
        </div>
        <div class="list-group-item">
          <input type="email" placeholder="Email" ng-model="email" class="form-control no-border" required>
        </div>
      </div>
      <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block"  ng-click="doSubmit()" >Send</button>
    </form>
    <div collapse="isCollapsed" class="m-t">
      <div class="alert alert-success">
        <p>A reset link sent to your email address. <a ui-sref="access.signin" class="btn btn-sm btn-success">Sign in</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center m-t m-b"><a ui-sref="access.signin">Back to Sign in</a></div>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>
